---
layout: default
title: Blog
permalink: "/" # keep as / and not /blog
pagination:
  enabled: true
---
<div class="first-post-background"></div>

<div class="container d-flex flex-column align-items-center blog-page-container">
	<!-- other posts -->
	{% for post in paginator.posts %}
		{% if forloop.first %}
			<div class="first-post post-page-container">
				<h1 class="post-title first-post-title">{{post.title}}</h1>
				<h3 class="post-subheading first-post-subheading">{{post.subheading}}</h3>
				<div class="post-date-n-tags first-postdate-n-tags d-flex flex-row justify-content-center align-items-center">
					<span class="post-date">{{post.date | date_to_string}}</span>
					{% include blog_post/tags.html tags=post.tags %}
				</div>
				<div class="first-post-image-container">
					<img src="/assets/images/lazy.jpg" data-src="{{post.featured_image}}" class="lazy first-post-image">
				</div>
				<div class="first-post-content content">
					{{post.content}}
					<div class="share-bar">
						<h4>Share this</h4>
						{% include share-icons.html %}
					</div>
					{% include blog_post/disqus.html %}
				</div>
			</div>
		{% else %}
			{% include blog_post/card.html post=post %}
		{% endif %}
	{% endfor %}

	{% include blog_post/pagination.html %}
</div>