---
layout: default
title: Inspiration
permalink: "/inspiration"
---
<div class="first-post-background"></div>
<div class="container">
	<h1 class="page-title">Inspiration</h1>
	<div class="row">
		{% for item in site.motivation %}
			<div class="w-100 {% cycle 'col-xs-12 motivation-1',
								 'col-md-6 motivation-2', 'col-md-6 motivation-2', %}">
				{% include motivation/card.html
					quote=item.quote
					author=item.author
					image=item.image
					url=item.url
					image_scale="true"
				%}
			</div>     
		{% endfor %}
	</div>
</div>