@import "variables";

/* General Styles */

.post-title {
	letter-spacing: 0;
	margin-bottom: 15px;
}

.post-subheading {
	font-family: $paragraph-font;
	font-size: 15px;
	color: $light-gray-text;
	letter-spacing: 0;
	line-height: 25px;
}

.post-card-date-n-tags {
	margin-bottom: 10px;
}

.post-date {
	margin-right: 20px;
}

.post-tag {
	color: #9B9B9B;
	margin-right: 5px;
}

/* Styles for specific pages */

.pink-bg-blog {
	@media (max-width: $md) {
		height: 500px;
	}
}

.blog-content {
	padding: 0 30px;
}

.blog-post-card-container {
	margin-top: 80px;
}

.tag-post-card-container {
	margin-bottom: 80px;
}

/* Card Styles */

.post-card-container {
	background-color: white;
	width: 100%;
	min-height: 400px;
	flex-direction: column;

	@include pink-box-shadow-left;
	@media (max-width: $md) {
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	/*justify-content: center;*/
	@media (min-width: $md) {
		flex-direction: row;
	}
	/* don't add a max-height until the viewport is wide enough that stuff won't be squished*/
	@media (min-width: $lg) {
		max-height: 500px;
	}
}

.post-card-image-container {
	overflow: hidden;
	&:hover {
		.post-card-image {
			@include image-scale-up(1.1);
		}
	}
	@media (min-width: $md) {
		width: 50%;
	}
}

.post-card-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	@include smooth-transition;
}

.post-card-metadata {
	padding: 30px;
	@media (min-width: $md) {
		padding: 50px;
		width: 50%;
	}
	/*justify-content: space-between;*/
}

.post-card-title {
	font-size: 30px;
	@media(min-width: $md) {
		font-size: 40px;
	}
	&:hover {
		text-decoration: underline;	
	}
}

.post-card-date-n-tags {
	margin-bottom: 20px;
}

.post-card-read-more-btn {
	margin-top: 20px;
	@media (max-width: $md) {
	    margin: 20px auto 0;
	  }
}