@import "variables";

#hero {
 	/*background-repeat: no-repeat;
 	background-position: center;
 	background-attachment: fixed;*/
 	height: 80vh;
 	position: relative;

}

.post-container {
	background-color: white;
	background: #FFFFFF;
	@include pink-box-shadow-left;
}

.post-title {
	letter-spacing: 0;
	margin-bottom: 15px;
}

.post-subheading {
	font-family: $paragraph-font;
	font-size: 15px;
	color: $light-gray-text;
	letter-spacing: 0;
	line-height: 25px;
}

span {
	font-family: $link-font;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.32px;
}

.post-card-date-n-tags {
	margin-bottom: 10px;
}

.post-date {
	margin-right: 20px;
}

.post-tag {
	color: #9B9B9B;
	margin-right: 5px;
}

/* DEFAULT CARD */

.post-card-container {
	width: 100%;
	min-height: 400px;
	margin-bottom: 80px;
	flex-direction: column;
	/*justify-content: center;*/
	@media (min-width: $md) {
		flex-direction: row;
	}
	/* don't add a max-height until the viewport is wide enough that stuff won't be squished*/
	@media (min-width: $lg) {
		max-height: 500px;
	}
}

/* FIRST POST */

.post-card-first-post-container {
	min-height: 70vh;
	max-height: none;
	@media (min-width: $md) {
		flex-direction: row-reverse !important;
	}
	.post-card-image-container {
		@media (min-width: $md) {
			width: 50%;
		}
		@media (min-width: $lg) {
			width: 60%;
		}
	}
	.post-card-metadata {
		@media (min-width: $md) {
			width: 50%;
		}
		@media (min-width: $lg) {
			width: 40%;
		}
	}
}

.post-card-image-container {
	overflow: hidden;
	&:hover {
		.post-card-image {
			@include image-scale-up(1.1);
		}
	}
	@media (min-width: $md) {
		width: 50%;
	}
}

.post-card-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	@include smooth-transition;
}

.post-card-metadata {
	padding: 30px;
	@media (min-width: $md) {
		padding: 50px;
		width: 50%;
	}
	/*justify-content: space-between;*/
}

.post-card-title {
	font-size: 30px;
	@media(min-width: $md) {
		font-size: 40px;
	}
	&:hover {
		text-decoration: underline;	
	}
}

.post-card-date-n-tags {
	margin-bottom: 20px;
}

.post-card-read-more-btn {
	margin-top: 20px;
}

.first-post-title {
	text-align: center;
	margin-bottom: 30px;
}

.first-post-subheading {
	text-align: center;
	margin-bottom: 30px;
}

.first-post-image-container {
	margin: 40px 0 50px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: white;
	@include pink-box-shadow-left;
}

.first-post-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.first-post-date-n-tags {
	justify-content: center;
}

.first-post-content {
	margin-bottom: 100px;
}