@import "variables";

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  /*position: relative;*/
	/*background-color: #F9FAFA;*/
}

main {
  /*padding-top: $navbar-height;*/
  /*min-height: 100vh; // will cover the 100% of viewport
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px; // still weird*/
}

* {
  font-family: $paragraph-font,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade{
    opacity: 0;
}

.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
}

hr {
  color: $super-light-gray;
}

.button-center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  padding: 15px 10px;
  width: 190px;
  text-align: center;
  text-decoration: none !important;
  background: transparent;
  border: 1px solid black;
  font-family: $link-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  @include smooth-transition;
  &:hover {
    background-color: #00000007;
  }
}

.white-button {
  color: white;
  border: 1px solid white;
  &:hover {
    background-color: #ffffff10;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.default-page-container {
  padding-top: 30px;
  /*padding-bottom: 50px;*/
  @media (min-width: $md) {
    padding-top: 70px;
  }
}

.pink-box-shadow-left {
  @include pink-box-shadow-left;
}

.pink-box-shadow-right {
  @include pink-box-shadow-right;
}

.share-button {
  font-size: 24px;
  padding: 10px;
  color: $vivid-pink !important;
}

.pink-background {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-color: $pink-bg-color;
  height: 100vh;
  min-height: 400px;
  @media (min-width: $md) {
    height: 60vh;
    min-height: 600px;
  }
}

/* Pagination */

.pagination-nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-item.active .page-link {
  background-color: $vivid-pink;
  border-color: $vivid-pink;
}

.page-link {
  color: $vivid-pink;
  &:hover {
    color: $vivid-pink;
  }
}

.container-widths {
  @include container-widths;
}