@import "variables";

.navbar {
	/*height: $navbar-height;*/
	padding: 10px 20px;
	background-color: white;
	border-bottom: 1px solid $super-light-gray;
}

.navbar-brand {
	/*font-family: $title-font;*/
	font-family: $paragraph-font;
	color: #000000;
	letter-spacing: 0;
	/*font-size: 12px;*/
	/*text-transform: uppercase;*/

}

.nav-item {
	margin-right: 10px;
}

.nav-link {
	font-size: 13px;
	font-family: $link-font;
	text-transform: uppercase;
	letter-spacing: 1.32px;
	color: #000000;
}