@import "variables";

.post-page-container {
	margin: 0 auto;
	width: 90%;
	@media (min-width: $sm) {
		width: 80%;
	}
	@media (min-width: $md) {
		width: 70%;
	}
	@media (min-width: $lg) {
		width: 65%;
		max-width: 800px;
	}
}

.post-page-container-above-image {
	
}

.post-page-container-below-image {
	padding-bottom: 100px;
}

.post-page-featured-image {
	height: 700px;
	width: 100%;
	object-fit: cover;
	margin: 50px 0 50px;
}

.post-page-title {
	font-size: 40px;
}

.post-page-subheading {
	font-size: 18px;
	color: $light-gray-text;
	line-height: 32px;
	margin: 20px 0;
}

.post-page-date-n-tags {
	margin-bottom: 20px;
}

.divide-metadata-n-content {
	margin-bottom: 30px;
}

.content {
	p {
		margin-bottom: 2rem;
	}
	
	p, li, span {
		font-size: 17px;
	}

	a {
		text-decoration: underline;
		color: black;
	}

	h2, h3 {
		margin: 40px 0 15px;
	}

	blockquote {
		border-left: 7.5px solid #E9E9E9;
		padding-left: 20px;
		margin: 20px 0;
		font-size: 20px;
	}

	img {
		width: 100%;
		margin-bottom: 20px;
	}

	iframe {
		width: 100%;
		margin: 30px 0;
	}

	.button {
		margin-top: 30px;
	}
}

.next-n-prev-post-navigation {
	text-decoration: underline;
	margin-top: 100px;
}