@import "variables";

.post-page-title {
	text-align: center;
	margin-bottom: 30px;
}

.post-page-subheading {
	text-align: center;
	margin-bottom: 30px;
}

.post-page-media-container {
	margin: 40px 0 50px;
	background-color: white;
}

.post-page-video-container {
	display: flex;
	iframe {
		@include pink-box-shadow-left;
		margin: 0 auto;
		width: 100%;
		height: 500px;
	}
}

.post-page-image-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	@include pink-box-shadow-left;
}

.post-page-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-page-date-n-tags {
	justify-content: center;
}

.post-content {
	img {
		max-height: 500px;
		margin: 20px 0 30px;
	}
}

.next-n-prev-post-navigation {
	text-decoration: underline;
	margin: 30px 0 50px;
}