.static-container {
	padding: 200px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.static-content {
	/*width: 60%;
	margin: 0 auto;*/

	img {
		border: $post-container-border;
		box-shadow: $pink-box-shadow-left;
	}
}

.about-content {
	padding-left: 50px;
}