@import "variables";

.static-container {
	min-height: calc(100vh - (60px + 100px + 100px));
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.static-content {
	/*width: 60%;
	margin: 0 auto;*/

	img {
		@include pink-box-shadow-left;
	}
}

.about-content {
	padding-left: 50px;
}