@import "variables";

@font-face {
	font-family: 'Domaine Display';
	src: url('/assets/fonts/Domaine-Display-Regular.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Domaine Display';
	src: url('/assets/fonts/Domaine-Display-Regular-Italic.ttf')  format('truetype');
	font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'Bianco Serif New';
	src: url('/assets/fonts/Bianco-Serif-New.otf')  format('opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Apercu Mono';
	src: url('/assets/fonts/Apercu-Mono.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}


h1, h2 {
	font-family: $title-font;
	/*font-family: BureauGrotesque-OneFive;*/
	/*text-transform: uppercase;*/
	margin-bottom: 20px;
}

h3, h4, p {
	font-family: $paragraph-font;
}

h5, h6 {
	font-family: $link-font;
	text-transform: uppercase;
	letter-spacing: 1.32px;
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p, li {
	font-size: 15px;
	line-height: 30px;
	color: $light-gray-text;
}

.page-mini-title {
	font-family: $paragraph-font;
	font-size: 30px;
	margin-bottom: 30px;
}