/* BOOTSRAP MEDIA QUERIES */
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;

/* FONTS */
$title-font: 'Domaine Display';
$paragraph-font: 'Bianco Serif New';
$link-font: 'Apercu Mono';

/* COLORS */
$super-light-gray: #EAEAEA;
$light-gray: #979797;
$light-gray-text: #666666;
$dark-gray-text: #2E2E2E;
$light-pink: #F4D5E2;
$vivid-pink: #D90091;
$pink-bg-color: #F9E8EF;

/* HEIGHTS */
$navbar-height: 60px;

/* MIXINS */

@mixin smooth-transition {
  -webkit-transition: all 0.25s; /* Safari and Chrome */
  -moz-transition: all 0.25s; /* Firefox */
  -ms-transition: all 0.25s; /* IE 9 */
  -o-transition: all 0.25s; /* Opera */
  transition: all 0.25s;
}

@mixin image-scale-up($image-scale) {
	-webkit-transform:scale($image-scale);
    -moz-transform:scale($image-scale);
    -ms-transform:scale($image-scale);
    -o-transform:scale($image-scale);
     transform:scale($image-scale);
}

/* pink border mixins */
$post-container-border: 1px solid #4A4A4A;
@mixin pink-box-shadow-left {
	border: $post-container-border;
	box-shadow: -10px 10px 0 0 $light-pink, -10px 10px 0 1px #4A4A4A;
}
@mixin pink-box-shadow-right {
	border: $post-container-border;
	box-shadow: 10px 10px 0 0 $light-pink, 10px 10px 0 1px #4A4A4A !important;
}

@mixin container-widths {
  margin: 0 auto;
  width: 90%;
  @media (min-width: $sm) {
    width: 80%;
  }
  @media (min-width: $md) {
    width: 70%;
  }
  @media (min-width: $lg) {
    width: 65%;
    max-width: 800px;
  }
}