$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;

$super-light-gray: #EAEAEA;
$light-gray-text: #666666;
$dark-gray-text: #2E2E2E;
$pink: #F4D5E2;

$post-container-border: 1px solid #4A4A4A;
$pink-box-shadow-left: -10px 10px 0 0 #F4D5E2, -10px 10px 0 1px #4A4A4A;
$pink-box-shadow-right: 10px 10px 0 0 $pink, 10px 10px 0 1px #4A4A4A !important;

$navbar-height: 60px;