<section id="{{include.block.id}}" class="{% if include.block.background_color == 'pink' %}pink-bg {% endif %}">
	<div class="container home-container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="home-section-text">
					{% if include.block.title and include.block.title != "" and include.block.title != nil %}
						<h2>{{include.block.title}}</h2>
					{% endif %}
					{% if include.block.text and include.block.text != "" and include.block.text != nil %}
						<p>{{include.block.text}}</p>
					{% endif %}
					{% if include.block.button.link and include.block.button.link != "" and include.block.button.link != nil %}
						<a class="button home-button button-large-padding" href="{% include link-renderer.html link=include.block.button.link %}">{{include.block.button.text}}</a>
					{% endif %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="home-section-image-container">
					<img src="{{include.block.image}}" class="lazy pink-box-shadow-right">
				</div>
			</div>
		</div>
	</div>
</section>