<section id="{{include.block.id}}" class="{% if include.block.background_color == 'pink' %}pink-bg {% endif %}">
	<div class="container home-container">
		{% assign latest_inspiration = site.inspiration.last %}
		<h1 class="home-section-title">{% if include.block.title %}{{include.block.title}}{% else %}Inspiration{% endif%}</h1>
		<a href="{{latest_inspiration.url}}" class="home-inspiration">
			{% include inspiration/card.html
				quote=latest_inspiration.quote
				author=latest_inspiration.author
				image=latest_inspiration.image
				url=latest_inspiration.url
				image_scale="true"
			%}
		</a>
		<div class="button-center-container home-see-more-button">
			<a href="/inspiration" class="button">See More</a>
		</div>
	</div>
</section>