<div class="container d-flex flex-column align-items-center ">
	<div class="container-widths">
		{% if include.post.date or include.post.tags %}
			<div class="page-mini-title post-date-n-tags post-page-date-n-tags d-flex flex-row justify-content-center align-items-center">
				{% if include.post.date %}
					<span class="post-date">{{include.post.date | date_to_string}}</span>
				{% endif %}
				{% if include.post.tags %}
					{% include blog_post/tags.html tags=include.post.tags %}
				{% endif %}
			</div>
		{% endif %}
		{% if include.post.title %}
			<h1 class="page-title post-title post-page-title">{{include.post.title}}</h1>
		{% endif %}
		{% if include.post.subheading %}
			<h3 class="post-subheading post-page-subheading">{{include.post.subheading}}</h3>
		{% endif %}
		{% if include.post.featured_video %}
			<div class="post-page-media-container post-page-video-container">
				{{ include.post.featured_video }}
			</div>
		{% endif %}
		{% if include.post.featured_image %}
			{% unless include.post.featured_video %}
				<div class="post-page-media-container post-page-image-container">
					<img src="{{include.post.featured_image}}" class="lazy post-page-image">
				</div>
			{% endunless %}
		{% endif %}
		<div class="post-content content">
			{{include.post.content}}
			<div class="share-bar">
				<h4>Share this</h4>
				{% include share-icons.html %}
			</div>
			{% include blog_post/next-n-prev-post-navigation.html %}
			{% include blog_post/disqus.html %}
		</div>
	</div>
</div>