---
layout: default
title: Blog
permalink: "/blog"
js_files:
- "/assets/js/blog.js"
pagination: 
  enabled: true
  collection: posts
  permalink: "/:num/"
---
{% if paginator.page == 1 %}
	<div class="pink-background pink-bg-blog"></div>
{% endif %}

{% if paginator.page == 1 %}
	{% include blog_post/post-renderer.html post=site.posts.first %}
{% endif %}

<div class="container d-flex flex-column align-items-center">
	<div class="blog-content">
		{% for post in paginator.posts %}
			{% unless forloop.first and paginator.page == 1 %}
				{% include blog_post/card.html post=post container_class="blog-post-card-container" %}
			{% endunless %}
		{% endfor %}
	</div>
</div>
