---
layout: default
title: Inspiration
permalink: "/inspiration"
js_files:
- "/assets/js/inspiration.js"
pink_background: true
pagination: 
  enabled: true
  collection: inspiration
  permalink: "/:num/"
---
<div class="container">
	<h1 class="page-title">Inspiration</h1>
	<div class="row inspiration-row">
		{% for item in paginator.posts %}
			<div class="w-100 inspiration-infinite-scroll-append
							{% cycle 'col-xs-12 inspiration-1',
								 'col-lg-6 inspiration-2', 'col-lg-6 inspiration-2', %}">
				<a href="{{item.url}}">
					{% include inspiration/card.html
						quote=item.quote
						author=item.author
						image=item.image
						url=item.url
						image_scale="true"
					%}
				</a>
			</div>     
		{% endfor %}

	</div>
</div>

